<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Menu De Navegacion Con Listas</title>
		<link rel="stylesheet" type="text/css" href="estilo.css">
	</head>
	<body>
		<h1 class="logo">Control de alumnos
		</h1> 
		<ul class="menu">
			<li><a href="#">Inicio</a></li>
			
			<li><a href="#">Alumnos</a></li>
			<li><a href="#">Acerca De</a></li>
			<li><a href="#">Contacto</a></li>
		</ul>

<from>
    <H2>Info del curso</H2>
            <table id="Curso" width="100" border="1"><!--elementos de la tabla de cursos-->
                <tr> 
                    <th scope="row"><h2>Id Cuso</h2></th> 
                    <th scope="row"><h2>Nombre Curso</h2></th>
                    <th scope="row"><h2>Siglas Curso</h2></th>
                    <th scope="row"><h2>Seccion</h2></th> 
>  
                </tr>
                <!--<tr>
                    <th>
                        <a></a>
                    </th>
                    <th>
                        <a></a>
                    </th>
                    <th>
                        <a></a>
                    </th>
                    <th>
                        <a></a>
                    </th> 
                </tr>-->
            
               
            </table>
            
            <button id= "Edit">Editar </button><!--boton que permite modificar la tabla-->
                
            <button id="Add">Agregar</button><!--Agrega elementos-->
        
            <button id="Save">Guardar</button><!--Guarda Los Cambios-->
        
            <button id="Dowload">Descargar</button><!--Descarga el archivo CVS-->

            <button id="Delet">Borrar</button><!--Borra el elemento-->

            <button id="Cancel">Cancelar</button><!--Cancela retorna pagina inicio-->
     </nav>

         
     </body>
</html>